/* ===== Home ===== */
@media (width > 570px) {
    .home__image-cloud {
        bottom: 270px;
    }
}

@media (width > 1070px) {
    html {
        font-size: 62.5%;
    }

    .home__image-gabs {
        bottom: 50px;
    }

    .home__image-cloud {
        bottom: 350px;
    }
}

@media (width > 1670px) {
    .home__image-cloud {
        bottom: 470px;
    }
}

/* ===== firstMoments ===== */
@media (width > 570px) {
    .swiper {
        width: 45rem;
        height: 45rem;
    }
}

@media (width > 970px) {
    .firstMoments__content {
        flex-direction: row;
    }

    .firstMoments__content-description {
        max-width: 25vw;
    }
}