@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-primary: #A8D6E5;
    --text-black: #292323;
}

html {
    font-size: 50%;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    background-color: var(--bg-primary);
    background-image: url(../img/bg-primary.png);
    background-repeat: repeat;
}

h2 {
    color: rgba(194, 226, 236, 0.9);
    text-shadow:
    2px 2px 0 #84C4E0,
    -2px -2px 0 #84C4E0,
    2px -2px 0 #84C4E0,
    -2px 2px 0 #84C4E0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    filter: drop-shadow(8px 10px 5px rgba(0, 0, 0, 0.2));
    text-transform: uppercase;
}

/* ===== Home ===== */
.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 10rem 0;
}

.home h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow:
    2px 2px 0  rgb(132, 196, 224),
    -2px -2px 0  rgb(132, 196, 224),
    2px -2px 0  rgb(132, 196, 224),
    -2px 2px 0  rgb(132, 196, 224);
}

.home__image {
    padding: 8rem 0;
    width: 70vw;
}

.home__image .home__image-bg {
    width: 100%;
    height: 100%;
}

.home__image-gabs {
    position: absolute;
    bottom: 130px;
    left: 0px;
    width: 40vw;
    filter: drop-shadow(8px 10px 5px rgba(0, 0, 0, 0.2));
}

.home__image-cloud {
    position: absolute;
    bottom: 210px;
    right: 10px;
    width: 24vw;
}

/* ===== firstMoments ===== */
.firstMoments__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 10rem 3rem;
}

.firstMoments__content-description {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 60px 10px 60px 60px;
}

.firstMoments__content-description p {
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
    letter-spacing: 2px;
    line-height: 1.5;
    color: var(--text-black);
}

.firstMoments__content-card {
    background-color: #fff;
    padding: 0 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.firstMoments__content-settings img {
    width: 2.5rem;
    display: block;
    margin-left: auto;
    padding: 1rem 0;
}

.swiper {
    width: 300px;
    height: 300px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.firstMoments__content-icons {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 2rem;
}
.firstMoments__content-icons .bi {
    font-weight: 900;
    font-size: 2.5rem;
}

.firstMoments__content-icons .bi-chat {
    padding: 0 1rem;
}





.teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

.caixa-pedra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #fff;
    /* border: 10px solid #777; */
    border-radius: 10px 20px 15px 5px; 
    border: 12px solid black;
    box-shadow: 50px 60px 5px -20px black;
    /* box-shadow: 
      2px 2px 5px rgba(0,0,0,0.3),
      -1px -1px 3px rgba(255,255,255,0.2);
    filter: grayscale(80%) sepia(50%); */
    clip-path: polygon(65% 2%, 100% 0, 98% 35%, 100% 99%, 77% 100%, 36% 97%, 0 100%, 2% 62%, 0 0);
}

.teste__caixa-pedra {
    height: 80%;
    width: 100%;
}

.teste__caixa-pedra img {
    width: 100%;
    height: 100%;
}

.teste-sombra {
    width: 300px;
    height: 500px;
    background-color: #fff;
    margin: 50px 0;
    box-shadow: 50px 60px 5px -20px;
    clip-path: polygon(65% 2%, 100% 0, 98% 35%, 100% 99%, 77% 100%, 36% 97%, 0 100%, 2% 62%, 0 0);
}



